export DRUPAL_BASE=http://YOUR_HOSTNAME_HERE
export DRUPAL_API_PATH=api
export DRUPAL_NODE_PATH=node
export DRUPAL_LOGIN_PATH=user/login
export DRUPAL_USER=FEED_USERNAME_HERE
export DRUPAL_PASS=FEED_PASSWORD_HERE
